<div class="container">
  <div class="container mb-3 text-center">
    <%= form_with url: pokemon_path(:params_query), method: :get do |form| %>
      <%= form.label :query, "Search Pokemon:" %>
      <%= form.text_field :query, placeholder: "By name or number..." %>
      <%= form.submit "Search", class: "btn btn-danger" %>
    <% end %>
  </div>
  <div class="row">
    <% @pokemons.each do |pokemon| %>
      <div class="col-4">
        <%= render "shared/index_card", pokemon: pokemon %>
      </div>
    <% end %>
  </div>
</div>
