<div class="container">
  <div class="container">
<%#     <form action="/" method="post">
      <p>
        Pokemon Search: <input type="search" id="pokemons" name="pokemons" placeholder="By name or number...">
        <input type="submit" value="Search">
      </p>
    </form> %>
    <%= form_with url: pokemon_path(:query), method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>
  </div>
  <div class="row">
    <% @pokemons.each do |pokemon| %>
      <div class="col-4">
        <%= render "shared/index_card", pokemon: pokemon %>
      </div>
    <% end %>
  </div>
</div>
