<% if @pokemon %>

  <h1 class="text-center mb-5"><%= @pokemon.id %> - <%= @pokemon.name.capitalize %></h1>
  <div class="container">
    <div class="card mb-3 mx-auto" style="max-width: 90%;">
      <div class="row g-0 <%= @pokemon.types[0].type.name %>">
        <div class="col-md-4">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/<%= @pokemon.id %>.png" class="img-fluid rounded-start" alt="<%= @pokemon.name %> image">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title text-center"><strong>Pokedex Description</strong></h3>
            <p class="card-text pt-3"><em><%= @pokeinfo.flavor_text_entries[0].flavor_text %></em></p>
            <p class="card-text pt-3"><strong><%= 'Type'.pluralize(@pokemon.types.count) %>:</strong> <%= @pokemon.types[0].type.name.capitalize %> <%= "/ #{@pokemon.types[1].type.name.capitalize}" if @pokemon.types[1] %></p>
            <p class="card-text pt-3"><strong><%= 'Ability'.pluralize(@pokemon.abilities.count) %>:</strong> <%= @pokemon.abilities[0].ability.name.capitalize %> <%= " / #{@pokemon.abilities[1].ability.name.capitalize}" if @pokemon.abilities[1] %> <%= " / #{@pokemon.abilities[2].ability.name.capitalize}" if @pokemon.abilities[2] %></p>
            <p class="card-text pt-3"><small><strong>Weight:</strong> <%= @pokemon.weight / 10.0 %> Kg</small></p>
            <p class="card-text pt-3"><small><strong>Height:</strong> <%= @pokemon.height * 10 %> cm</small></p>
          </div>
        </div>
      </div>
    </div>
      <div class="row g-0">
        <div class="col ml-3 mb-1 text-center ">
          <%= link_to "Back to home", root_path, class: "btn btn-primary mx-auto" %>
          <%= link_to "Former Pokemon", pokemon_path(@pokemon.id - 1), class: "btn btn-primary mx-auto" %>
          <%= link_to "Next Pokemon", pokemon_path(@pokemon.id + 1), class: "btn btn-primary mx-auto" %>
        </div>
      </div>
  </div>
<% else %>
  <%= render "shared/error" %>
<% end %>
